// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

:root {
  // scrollbar-color: var(--scrollbar-color) transparent;
  accent-color: var(--brand);
  caret-color: var(--brand);
}

html {
  background-color: var(--bg);
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  flex: 1;
  font-family: var(--ff-base);
  font-feature-settings: 'kern';
  font-synthesis: none;
  line-height: var(--lh-base);
  min-height: 100vh;
  position: relative;
  text-rendering: optimizeLegibility;
}

[hidden] {
  display: none !important;
}

video,
image,
iframe {
  max-width: 100%;
}

// Selection

::selection {
  background-color: var(--brand-green);
  color: var(--gray-10);
}

// Links
a:not(.btn, button) {
  color: var(--text-link);
  text-decoration: none;
  transition: color 0.1s ease;

  @include on-event {
    color: var(--text-link-over);
  }
}

strong,
b {
  font-weight: var(--fw-bd);
}

// Headings

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  color: var(--text);
  font-family: var(--ff-heading);
  line-height: var(--lh-xs);
  text-transform: uppercase;
  word-wrap: break-word;
}

.h1,
h1 {
  font-size: var(--fs-xxxxl);
}

.h2,
h2 {
  font-size: var(--fs-xxxl);
  letter-spacing: -0.5px;
}

.h3,
h3 {
  font-size: var(--fs-lg);
  letter-spacing: -0.5px;
}

.h4,
h4 {
  font-size: var(--fs-md);
}

.h5,
h5 {
  font-size: var(--fs-sm);
}

.h6,
h6 {
  font-size: var(--fs-xs);
}
