// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

:root {
  // scrollbar-color: var(--scrollbar-color) transparent;
  accent-color: var(--brand);
  caret-color: var(--brand);
}

html {
  background-color: var(--bg-app);
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include media-query('xl') {
    background-color: var(--bg);
  }
}

body {
  color: var(--text);
  font-family: var(--ff-base);
  font-feature-settings: 'kern';
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  line-height: var(--lh-base);
  position: relative;
  text-rendering: optimizeLegibility;
  flex: 1;
  max-height: 90%;
}
/* stylelint-disable */
#__nuxt,
#__layout {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* stylelint-enable */

[hidden] {
  display: none !important;
}

video,
image,
iframe {
  max-width: 100%;
}

// Links
a:not(.btn, button) {
  color: var(--text-link);
  text-decoration: none;
  transition: color 0.1s ease;

  @include on-event {
    color: var(--text-link-over);
  }
}

strong,
b {
  font-weight: var(--fw-bd);
}

// Headings

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-family: var(--ff-heading);
  line-height: var(--lh-xs);
  color: var(--text);
  font-weight: var(--fw-bd);
  word-wrap: break-word;
}

.h1,
h1 {
  // letter-spacing: -2px;
  font-size: var(--fs-xxxxl);
}

.h2,
h2 {
  letter-spacing: -0.5px;
  font-size: var(--fs-xxxl);
}

.h3,
h3 {
  letter-spacing: -0.5px;
  font-size: var(--fs-lg);
}

.h4,
h4 {
  font-size: var(--fs-md);
}

.h5,
h5 {
  font-size: var(--fs-sm);
}

.h6,
h6 {
  font-size: var(--fs-xs);
}

/* Typography overrides
============================= */

// More of an addition, really
.fs-7 {
  font-size: var(--fs-sm); // 14px
}

.fs-8 {
  font-size: var(--fs-xs); // 12px
}
