@font-face {
  font-family: InterBd;
  src: url('~/assets/fonts/Inter-Bold.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Bebas;
  src: url('~/assets/fonts/BebasNeue-Regular.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Integral Bold';
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/IntegralCF-Bold.woff2') format('woff2'),
    url('../fonts/IntegralCF-Bold.woff') format('woff');
}
