// Animations

// Bobbing animation
@keyframes bobbing {
  from {
    transform: translate(0, 0);
  }

  60% {
    transform: translate(0, 1rem);
  }

  to {
    transform: translate(0, -0);
  }
}

// Drop in animation
@keyframes drop-in {
  from {
    transform: translate(0, -5rem);
    opacity: 0;
  }

  to {
    transform: translate(0, -0);
    opacity: 1;
  }
}

// Drop up animation
@keyframes drop-up {
  from {
    transform: translate(0, 3rem);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

// Spin in animation
@keyframes spin-in {
  from {
    transform: rotate(180deg) scale(0);
    opacity: 0;
  }

  to {
    transform: rotate(3deg) scale(1);
    opacity: 1;
  }
}
