// A bunch taken from https://open-props.style
// Type scale generator https://utopia.fyi/type/calculator

:root {
  // If dark
  color-scheme: dark;

  // Gray Colours
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;
  --gray-10: #111;

  // Brand colours
  --brand-blue: #0ef;
  --brand-purple: #6000fa;
  --brand-green: #65e41c;
  --brand-pink: #ff0095;
  --brand-yellow: #f2c811;
  --brand-orange: orangered;
  --brand: var(--brand-blue);

  // Text colours
  --text: var(--gray-2);
  --text-light: var(--gray-0);
  --text-dark: var(--gray-4);
  --text-inverse: var(--gray-8);
  --text-link: var(--brand-blue);
  --text-link-over: var(--brand-orange);

  // Named grays
  --border: var(--gray-3);
  --border-dark: var(--gray-4);
  --bg: var(--gray-10);
  --bg-app: var(--gray-9);

  // Status colours
  --status-danger: #ff1d25;
  --status-warning: #ff931e;
  --status-success: #7ac943;
  --status-neutral: var(--gray-6);
  --status-activity: #37befb;

  // Global margin
  --m: 1rem;
  --m-xs: calc(var(--m) / 4);
  --m-sm: calc(var(--m) / 2);
  --m-lg: calc(var(--m) * 2);
  --m-xl: calc(var(--m) * 4);
  --m-xxl: calc(var(--m) * 6);
  --m-xxxl: calc(var(--m) * 8);

  // Weights
  --fw-1: 100;
  --fw-2: 200;
  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;
  --fw-9: 900;
  --fw-md: var(--fw-4);
  --fw-sb: var(--fw-6);
  --fw-bd: var(--fw-7);
  --fw-xb: var(--fw-9);

  // Line height
  --lh-base: 1;
  --lh-xs: 0.9;
  --lh-sm: 1.1;
  --lh-md: 1.5;
  --lh-lg: 1.65;

  // Clamp font sizes
  // https://utopia.fyi/type/calculator/?c=320,20,1.333,1140,24,1.333,10,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l
  /* stylelint-disable */
  --fs--2: clamp(0.7rem, calc(0.65rem + 0.27vw), 0.84rem);
  --fs--1: clamp(0.94rem, calc(0.86rem + 0.37vw), 1.13rem);
  /* stylelint-enable */
  --fs-0: clamp(1.25rem, calc(1.15rem + 0.49vw), 1.5rem);
  --fs-1: clamp(1.67rem, calc(1.54rem + 0.65vw), 2rem);
  --fs-2: clamp(2.22rem, calc(2.05rem + 0.87vw), 2.67rem);
  --fs-3: clamp(2.96rem, calc(2.73rem + 1.16vw), 3.55rem);
  --fs-4: clamp(3.95rem, calc(3.64rem + 1.54vw), 4.74rem);
  --fs-5: clamp(5.26rem, calc(4.85rem + 2.05vw), 6.31rem);
  --fs-6: clamp(7.01rem, calc(6.46rem + 2.74vw), 8.42rem);
  --fs-7: clamp(9.35rem, calc(8.62rem + 3.65vw), 11.22rem);
  --fs-8: clamp(12.46rem, calc(11.49rem + 4.86vw), 14.95rem);
  --fs-9: clamp(16.61rem, calc(15.31rem + 6.48vw), 19.93rem);
  --fs-10: clamp(22.14rem, calc(20.41rem + 8.64vw), 26.57rem);

  // Sizes
  --fs-base: 1rem;
  --fs-xs: var(--fs--2);
  --fs-sm: var(--fs--1);
  --fs-md: var(--fs-0);
  --fs-lg: var(--fs-1);
  --fs-xl: var(--fs-2);
  --fs-xxl: var(--fs-3);
  --fs-xxxl: var(--fs-5);
  --fs-xxxxl: var(--fs-6);

  // Families
  --ff-base: 'Inter', system-ui, -apple-system, segoe ui, roboto, ubuntu,
    cantarell, noto sans, sans-serif;
  --ff-serif: ui-serif, serif;
  --ff-heading: bebas, var(--ff-base);
  --ff-brand: 'Integral Bold', var(--ff-base);
  --ff-mono: consolas, sf mono, dank mono, operator mono, inconsolata, fira mono,
    ui-monospace, monaco, droid sans mono, source code pro, monospace;

  // Utils
  --bxs-md: 0 0.25rem 1rem 0 rgb(0 0 0 / 20%);
  --bxs-lg: 0 5px 27px -5px rgb(0 0 0 / 25%),
    10vh 9vw 16vw -10vw rgb(0 0 0 / 30%);
  --bxs-lg-blue: 0 5px 27px -5px rgb(0 238 255 / 25%),
    10vh 9vw 16vw -10vw rgb(0 0 0 / 30%);
  --ease-cubic: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */

  // Radius
  --radius-1: 2px;
  --radius-2: 5px;
  --radius-3: 1rem;
  --radius-4: 2rem;
  --radius-5: 4rem;
  --radius-6: 8rem;

  // Layout utils
  --h-header: 3rem;
  --h-footer: 4rem;
  --p-x: var(--m);
  --mw-content: 768px;
  --mw-header: 1140px;

  // Z-indexes
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
  --layer-5: 5;
  --layer-important: 2147483647;
}
