// --------------------------
// Buttons
// --------------------------

.btn {
  // Button colours
  --btn-border: var(--brand-blue);
  --btn-text: var(--gray-1);
  --btn-text-over: var(--brand-purple);
  --btn-bg: var(--gray-0);
  --btn-bg-over: var(--brand-blue);

  appearance: none;
  color: var(--btn-text);
  background-color: transparent;
  border: 2px solid var(--brand);
  border-radius: var(--radius-2);
  cursor: default;
  font-size: var(--fs-xl);
  font-family: var(--ff-heading);
  font-weight: bold;
  line-height: var(--lh-base);
  padding: calc(var(--m-sm) * 1.6) var(--m) var(--m-sm);
  text-align: center;
  text-decoration: none;
  transition: all 0.1s var(--ease-cubic);

  &.active,
  &:hover,
  &:active {
    background-color: var(--brand);
    color: var(--text-inverse);
  }

  &:focus {
    color: var(--text-inverse);
    background-color: var(--brand);
    outline: 1px dotted var(--outline);
    outline-offset: -1px;
  }

  &[disabled] {
    opacity: 0.4;
    pointer-events: none;
  }

  &--border-blue {
    border-color: var(--border-blue);
  }
  &--border-gray {
    border-color: var(--gray-8);
  }
}

.btn-plain {
  padding: 0;
  border: none;
  font: inherit;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
  appearance: none;

  &:focus {
    outline: none;
  }
}

// Icon buttons
.btn-icon {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  display: flex;
  padding: var(--m-sm);
  align-items: center;
  display: flex;
  justify-content: center;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 0.15rem rgb(65 82 96 / 25%);
  }
}
