// --------------------------
// Buttons
// --------------------------

:where(html) .btn {
  appearance: none;
  background-color: hsl(0deg 0% 20% / 50%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--radius-5);
  box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 50%);
  border: 0;
  color: var(--gray-0);
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-brand);
  font-size: var(--fs-md);
  font-weight: bold;
  line-height: var(--lh-base);
  overflow: hidden;
  padding: calc(var(--m) * 0.95) var(--m-lg) var(--m);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transition: all 0.2s ease-out;
  z-index: 1;
  text-shadow: 0 2px 1rem rgb(0 0 0 / 50%), 0 2px 0.75rem rgba(44 11 11 / 25%);

  @include media-query('md') {
    padding: calc(var(--m-lg) * 1.05) var(--m-lg) var(--m-lg);
  }

  &--sml {
    font-size: var(--fs-sm);
    padding: calc(var(--m) * 0.95) var(--m-lg) var(--m);
  }

  &::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-image: url('../img/bg-blur-button.jpg');
    background-position: center bottom;
    background-size: 150% 150%;
    transition: background-size 0.3s var(--ease-cubic),
      transform 0.1s var(--ease-cubic);
    z-index: -1;
  }

  &:hover {
    transform: scale(1.02);

    &::after {
      animation: hue-rotate 1.5s var(--ease-cubic);
      background-size: 100% 150%;
    }
  }

  &.active,
  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: 1px dotted var(--outline);
    outline-offset: -1px;

    &::after {
      background-size: 200% 200%;
    }
  }

  &[disabled] {
    opacity: 0.4;
    pointer-events: none;
  }

  &--border-blue {
    border-color: var(--border-blue);
  }

  &--border-gray {
    border-color: var(--gray-8);
  }
}

// Gray buttons

.btn-gray {
  border-radius: var(--radius-2);
  border: 0;
  padding: var(--m-sm);
  background-color: var(--gray-9);
  color: var(--brand-blue);
  transition: all 0.2s ease-out;
  font-size: var(--fs-md);

  &:hover,
  &:focus,
  &:active {
    color: var(--gray-9);
    background-color: var(--brand-blue);
  }
}

// Plain

.btn-plain {
  padding: 0;
  border: 0;
  font: inherit;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
  appearance: none;

  &.active,
  &:hover,
  &:active {
    outline: none;
  }
}

// Icon buttons
:where(.btn-icon) {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  padding: var(--m-sm);
  align-items: center;
  display: flex;
  justify-content: center;

  &::after {
    display: none;
  }

  &:focus {
    outline: none;
  }
}
