.card-bg {
  border-radius: var(--radius-3);
  box-shadow: var(--bxs-lg);
  overflow: hidden;

  &::before {
    content: '';
    background-image: url('../img/bg-blur.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--gray-9);
    border-radius: var(--radius-3);
    border: 1px solid var(--gray-8);
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}
