:where(input[type='text'], input[type='number'], input[type='email']) {
  padding: var(--m-xs) var(--m-sm) 0;
  border: 2px solid var(--gray-9);
  background-color: var(--gray-9);
  border-radius: var(--radius-2);
  box-shadow: inset 1px 1px 3px var(--gray-10);

  &:focus-within {
    border: 2px solid var(--brand-blue);
  }

  &:invalid {
    border: 2px solid var(--brand-orange);
  }

  &::placeholder {
    opacity: 0.15;
    color: var(--text);
  }
}
