.number-huge {
  color: var(--c-brand-blue);
  font-family: var(--ff-heading);
  line-height: 1;
  width: 100%;
  font-variant-numeric: tabular-nums;
  text-align: center;

  @include media-query('md') {
    text-align: right;
  }

  &__number {
    font-size: var(--fs-huge);
  }
  &__unit {
    font-size: calc(var(--fs-huge) / 2);
  }
}
