.number-huge {
  color: var(--brand-blue);
  font-family: var(--ff-heading);
  font-variant-numeric: tabular-nums;
  line-height: 0.8;
  // margin-bottom: -1rem;
  outline: 2px dotted orangered;
  text-align: center;
  width: 100%;

  &__number {
    font-size: var(--fs-9);
  }
  &__unit {
    font-size: calc(var(--fs-9) / 2);
  }
}
